body {
	font-family: 'Bitter';
	line-height: 23px;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 7%;

}

nav ul, footer ul {
	text-align: right;
	font-family: 'Bitter';
	padding: 0px;
	list-style: none;
	font-weight: 300;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 25px;
}

.container {
	margin-top: 5px;
	margin-bottom: 5%;
}

a {
	text-decoration: none;
	color: #404040;
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 70%) {
	body {
		margin-left: 4%;
		margin-right: 4%;
	}
}
