body {
	font-family: 'Raleway', sans-serif;
	margin-top: 3%;
	margin-left: 4%;
	margin-right: 4%
}

nav ul, footer ul {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	list-style: none;
	font-weight: 300;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 25px;
}

a {
	text-decoration: none;
	color: #404040;

}

a:hover {
	text-decoration: underline;


h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
	margin-left: 1%;

}

p {
	font-weight: 200;
	margin-left: 2%;
}