body {
	font-family: 'Raleway', sans-serif;
	margin-top: 3%;
	margin-left: 4%;
	margin-right: 4%
}

#contentBox {
	-webkit-animation: slidein 1.5s;
	animation: slidein 1.5s;

}

@-webkit-keyframes slidein {
	from {
		margin-bottom: 0%;
		width: 300%;
	}

	to {
		margin-bottom: 100%;
		width: 100%;
	}
}

#column1 {
	/*border: 1px solid;
	border-color: gray;*/
	padding: 1%;

	background: #F8F8F8;
	line-height: 15px;
}

#column2 {
	padding: 1%;

	background: #F8F8F8;
	
}



h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
	margin-left: 1%;

}

p {
	font-weight: 200;
	margin-left: 2%;
}