<!DOCTYPE html>
</body>
</html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>

<body>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/cv">CV</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
	<div class="container">
		{{ content }}
	</div><!--/.container-->

	<footer>
		<ul>
			<li><a href="mailto:julie.yc.pan@gmail.com">email</li>
			<li><a href="https://github.com/ycp217">github</li>
			<li><a href="https://twitter.com/julie_panda">@julie_panda</li>
			<li><a href="https://www.linkedin.com/pub/julie-pan/78/32b/11a">linkedIn</li>
		</ul>
	</footer>
</body>
</html>