---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
 {{ content }}
</div>

<!-- <div class="pagination">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
{% else %}
<span class="previous">Previous</span>
{% endif %}
<span class="page_number ">Page: {{ paginator.page }}</span>
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" class="next ">Next</a>
{% else %}
<span class="next "> Next</span>
{% endif %}
	
</div>
 -->